
Plugins/HIS.Desktop.Plugins.ExpMestViewDetail/HIS.Desktop.Plugins.ExpMestViewDetail.csproj
Plugins/HIS.Desktop.Plugins.RegisterExamKiosk/Properties/licenses.licx
Plugins/HIS.Desktop.Plugins.CallPatientV5 - Copy - BS Điền/HIS.Desktop.Plugins.CallPatientV5.csproj
